@if (hosts.hasValue()) {
  <p-accordion
    [multiple]="true"
    [value]="accordionValue()"
    (valueChange)="accordionValue.set($event)"
  >
    @for (h of hosts.value(); track h) {
      <p-accordion-panel
        [value]="h.id"
        [disabled]="!h.enabled"
      >
        <p-accordion-header>
          <span class="host-header">
            {{ h.name }}
            <p-button
              [style]="{ 'pointer-events': 'all' }"
              icon="pi pi-external-link"
              rounded
              text
              [routerLink]="'/hosts/' + h.id"
              (click)="$event.stopPropagation()"
            >
            </p-button>
            @if (!h.enabled) {
              <p-tag severity="danger">
                {{ 'GENERAL.DISABLED' | translate }}
              </p-tag>
            }
          </span>
        </p-accordion-header>
        <p-accordion-content>
          @if (h.enabled) {
            <app-images-page-table [host]="h"></app-images-page-table>
          }
        </p-accordion-content>
      </p-accordion-panel>
    }
  </p-accordion>
} @else {
  <app-no-hosts></app-no-hosts>
}
