[project]
name = "tugtainer"
version = "1.15.1"
description = "An application for automating docker containers updates with a web ui"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "aiocron>=2.1",
    "aiohttp>=3.13.2",
    "aiosqlite>=0.21.0",
    "alembic>=1.17.2",
    "apprise>=1.9.5",
    "bcrypt>=5.0.0",
    "cachetools>=6.2.2",
    "dotenv>=0.9.9",
    "fastapi>=0.121.2",
    "jinja2>=3.1.6",
    "python-jose>=3.5.0",
    "python-on-whales>=0.79.0",
    "uvicorn>=0.38.0",
]

[dependency-groups]
dev = [
    "fastapi-cli>=0.0.16",
    "fastapi[standard]>=0.121.2",
    "pytest>=9.0.1",
    "pytest-asyncio>=1.3.0",
    "uvicorn[standard]>=0.38.0",
    "watchfiles>=1.1.1",
    "websockets>=15.0.1",
]

[tool.uv]
package = false

[tool.semantic_release]
version_toml = ["pyproject.toml:project.version"]
build_command = """
    pip install uv~=0.9
    uv lock --upgrade-package "$PACKAGE_NAME"
    git add uv.lock
"""
commit_parser = "conventional"
commit_message = "chore(release): {version}\n\nAutomatically generated by python-semantic-release"
major_on_zero = true
version_variable = []
upload_to_pypi = false
upload_to_repository = false
commit_version_number = false
tag_format = "v{version}"

[semantic_release.commit_parser_options]
minor_tags = ["feat"]
patch_tags = ["fix", "perf"]
other_allowed_tags = ["build", "chore", "ci", "docs", "style", "refactor", "test"]
allowed_tags = ["feat", "fix", "perf", "build", "chore", "ci", "docs", "style", "refactor", "test"]
default_bump_level = 0
parse_squash_commits = true
ignore_merge_commits = true

[tool.semantic_release.changelog.default_templates]
changelog_file = "CHANGELOG.md"
output_format = "md"

[tool.semantic_release.changelog]
# Recommended patterns for conventional commits parser that is scope aware
exclude_commit_patterns = [
    '''chore(?:\([^)]*?\))?: .+''',
    '''ci(?:\([^)]*?\))?: .+''',
    '''refactor(?:\([^)]*?\))?: .+''',
    '''style(?:\([^)]*?\))?: .+''',
    '''test(?:\([^)]*?\))?: .+''',
    '''build\((?!deps\): .+)''',
    '''Initial [Cc]ommit.*''',
]
mode = "init"
