<p-confirmpopup #pruneConfirmPopup>
  <ng-template
    #content
    let-message
  >
    <section
      [ngStyle]="{
        display: 'flex',
        flexDirection: 'column',
        gap: '0.5rem',
      }"
    >
      <span>{{ message.message }}</span>
      <span
        [ngStyle]="{
          display: 'inline-flex',
          gap: '0.5rem',
          alignItems: 'center',
        }"
      >
        <p-toggle-switch
          [(ngModel)]="pruneAll"
          inputId="prune-all-confirm-toggle"
        ></p-toggle-switch>
        <label for="prune-all-confirm-toggle">
          {{ 'IMAGES.TABLE.PRUNE_ALL' | translate }}
          <i
            class="pi pi-question-circle"
            style="margin: 0 0.5rem"
            [pTooltip]="'IMAGES.TABLE.PRUNE_ALL_HINT' | translate"
            tooltipPosition="left"
          ></i>
        </label>
      </span>
    </section>
  </ng-template>
</p-confirmpopup>

<p-table
  #dt2
  [globalFilterFields]="['id', 'repository', 'tags']"
  dataKey="id"
  sortField="created"
  [sortOrder]="-1"
  [scrollable]="true"
  scrollHeight="flex"
  [value]="list()"
>
  <ng-template #header>
    <tr>
      <th>
        <p-iconfield iconPosition="left">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            #searchInput
            id="images-search"
            pInputText
            type="text"
            (input)="dt2.filterGlobal($event.target.value, 'contains')"
            [placeholder]="'IMAGES.TABLE.SEARCH_PLACEHOLDER' | translate"
          />
        </p-iconfield>
      </th>
      <th colspan="3"></th>
      <th style="text-wrap: nowrap">
        <p-buttongroup>
          <p-button
            [loading]="isLoading()"
            [label]="'GENERAL.REFRESH' | translate"
            icon="pi pi-refresh"
            (onClick)="updateList()"
          ></p-button>
          <p-button
            [loading]="isLoading()"
            severity="warn"
            [label]="'IMAGES.TABLE.PRUNE' | translate"
            icon="pi pi-eraser"
            (onClick)="confirmPrune($event)"
          >
          </p-button>
        </p-buttongroup>
      </th>
    </tr>

    <tr>
      <th pSortableColumn="id">
        {{ 'IMAGES.TABLE.ID' | translate }}
        <p-sortIcon field="id"></p-sortIcon>
      </th>
      <th pSortableColumn="repository">
        {{ 'IMAGES.TABLE.REPOSITORY' | translate }}
        <p-sortIcon field="repository"></p-sortIcon>
      </th>
      <th pSortableColumn="tags">
        {{ 'IMAGES.TABLE.TAGS' | translate }}
        <p-sortIcon field="tags"></p-sortIcon>
      </th>
      <th
        pSortableColumn="size"
        style="width: 10%"
      >
        {{ 'IMAGES.TABLE.SIZE' | translate }}
        <p-sortIcon field="size"></p-sortIcon>
      </th>
      <th
        pSortableColumn="created"
        style="width: 20%"
      >
        {{ 'IMAGES.TABLE.CREATED' | translate }}
        <p-sortIcon field="created"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template
    #body
    let-image
  >
    <tr>
      <td>
        <div
          class="image-id"
          [pTooltip]="image.id"
        >
          {{ image.id }}
        </div>
        @if (image.dangling) {
          <p-tag severity="warn">
            {{ 'IMAGES.TABLE.DANGLING' | translate }}
          </p-tag>
        }
        @if (image.unused) {
          <p-tag severity="danger">
            {{ 'IMAGES.TABLE.UNUSED' | translate }}
          </p-tag>
        }
      </td>
      <td>
        <span>
          {{ image.repository }}
        </span>
      </td>
      <td>
        @for (t of image.tags; track t) {
          <p-tag
            [value]="t"
            severity="info"
          ></p-tag>
        }
      </td>
      <td>
        {{ image.size / 1024 / 1024 | number: '1.0-2' }}
        {{ 'IMAGES.TABLE.SIZE_UNIT' | translate }}
      </td>
      <td>
        {{ image.created | date: 'medium' }}
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [header]="'IMAGES.TABLE.PRUNE_RESULT' | translate"
  [modal]="true"
  [draggable]="false"
  [visible]="!!pruneResult()"
  (visibleChange)="pruneResult.set(null)"
>
  <pre style="max-width: 75vw; max-height: 75vh">
      {{ pruneResult() }}
  </pre>
</p-dialog>
