:host {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .hosts-form {
    display: flex;
    flex-direction: column;

    .accordion-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .switch-field {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .buttons {
      display: inline-flex;
      align-items: center;
      gap: 1rem;
      padding-top: 1rem;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
