:host {
  width: 100%;
  height: auto;
  overflow: hidden;

  p-toolbar {
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  th:first-child,
  td:first-child {
    width: 40%;
    max-width: 35vw;
  }
}
